{*<!--

+---------------------------------------------------------------------------+
| Revive Adserver                                                           |
| http://www.revive-adserver.com                                            |
|                                                                           |
| Copyright: See the COPYRIGHT.txt file.                                    |
| License: GPLv2 or later, see the LICENSE.txt file.                        |
+---------------------------------------------------------------------------+

-->*}
{if $error!=''}
    <div class='errormessage' id='errors'>
        <img class='errormessage' src='{$assetPath|escape}/images/errormessage.gif' align='absmiddle' />
        <span class='tab-r'>The following errors were found:</span><br />
        {$error}
    </div>
{/if}

{if $notice!=''}
    <div class='errormessage' id='errors'>
        <span class='tab-r-warning'>Warning:</span><br />
        {$notice}
    </div>
{/if}

{*website form*}
{include file=form/form.html form=$form}
{*/website form*}

<script language="javascript">
<!--{literal}
    $(document).ready(function() {
        formStateStore($("#affiliateform").get(0));
        $("#affiliateform").submit(function() {
            if (max_formValidate(this)) {
              return true;
            }
            return false;
          });
        });
    {/literal}
    //-->
</script>

